.gradle
build/

### IntelliJ IDEA ###
.idea
/.idea/modules.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/libraries/
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iws
*.iml
*.ipr
out/
/captures
.externalNativeBuild
.kotlin
local.properties

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store